body {
  min-height: 100vh;
  background-color: #E6E6FA;
  margin: 0px 0px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  width: 100%;
}

.header__inner {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 20%;
  font-size: 30px;
  font-weight: bold;
  color: #9E9EE2;
}

.header__logo img {
  border-radius: 20px;
}

/* Nav */
.nav {
  font-size: 18px;
  vertical-align: top;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 40px;
  /* margin-right: 10%; */
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 25px;
  position: relative;

  color: #9E9EE2;
  text-decoration: none;
  font-weight: bold;

  transition: color .1s linear;
}

.cat {
  position: absolute;
  z-index: 30;
  margin-top: -320px;
  margin-left: -180px;
}